<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <a href="/new">NEW</a>
    </nav>
    <main>
      <% messages.forEach((message) => { %>
        <a href="/messages/<%= message.id %>"><%= message.text %></a>
      <% }) %>
    </main>
  </body>
</html>
